body {margin: auto; text-align: center; padding: 34px; color: #111;}

a:visited,
a {color: #111; text-decoration: none;}
a:hover {color: #333;}


h1 { 	
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	font-family: futura-pt; 
	-webkit-transform: matrix(1, -0.10, 0, 1, 0, 0); 
	}
	
h1 span {
	display: block;
	font-size: 180px;  
	line-height: 160px;
	letter-spacing: 5px;
	border: 6px solid #111; 
/*	border-bottom: 6px solid #111; 		*/
	padding: 10px;
	margin: 0;
	clear: both;
	z-index:1;

}

h1 b {
	background: #fff;
	float: left;
	width: auto;
	display: inline-block;
	padding: 10px 15px 10px 0;
	z-index: 999;
	font-size: 36px;
	line-height: 36px;
	display: block;
	text-align: left;
	margin: 0 0 -22px -2px;
	letter-spacing: 3px;	
	word-spacing: 10px;		
}

h1 b:last-child {
	padding: 10px 0 10px 15px;	
	margin: -22px -2px 0 0;
	float: right;
	text-align: right;
}

-webkit-transform: rotateX(20deg);
/* -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);*/